html {
    scroll-behavior: smooth;
    scrollbar-width: auto;
    scrollbar-color: dark;
}

body {
    background-color: #000000;
    font-family: Inconsolata, monospace;
    color: rgb(200, 200, 200);
}

h1 {
    font-size: 60px;
    text-decoration: underline;
}

#menu {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.25);
    height: 75px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    z-index: 2;
}

#menu ul {
    white-space: nowrap;
    overflow: hidden;
    list-style: none;
    margin-right: 10px;
}

#menu li {
    display: block;
    color: white;
    text-decoration: none;
    background-color: #777;
    border-radius: 10px;
    float: right;
    margin-right: 10px;
}

#menu a {
    text-decoration: none;
    display: block;
    padding: 14px;
}

#menu li:hover {
    background-color: #333;
}

#home {
    padding-top: 100px;
}

#advices,
#projects,
#links,
#donate,
#about {
    padding-top: 60px;
    padding-bottom: 60px;
}

.invis {
    color: transparent;

}

#profile-picture {
    position: relative;
    top: 50px;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

#profile-picture img {
    margin: auto;
    border-radius: 50px;
}

#picture-description {
    text-align: center;
}

#main_header,
#legal_header,
#privacy_header,
#error_header {
    text-align: center;
    line-height: 150%;
    margin-top: 110px;
    padding-bottom: 100px;
}

/*#gh-stats-lang{
    margin-left: 219.5px;
}

#gh-trophy{
    margin-left: 100px;
}
*/

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

article {
    line-height: 200%;
}

#links,
#projects {
    line-height: 200%;
}

#links li {
    list-style: none;
}

.gh-icon {
    width: 16px;
    margin-top: 5px;
}

.gl-icon {
    width: 16px;
    margin-top: 5px;
}

.cb-icon {
    width: 16px;
    margin-top: 5px;
}

.cp-icon {
    width: 16px;
    margin-top: 5px;
}

.itch-icon {
    width: 16px;
    margin-top: 5px;
}

.mstdn-icon {
    width: 16px;
    margin-top: 5px;
}

#donate {
    line-height: unset;
}

#donate ul {
    list-style: none;
}

#donate-content {
    display: flex;
}

#donate-button {
    height: 59px;
    margin-top: 3px;
}

#donate-qr-link {
    margin-left: 10px;
}

.donate-qr {
    border-radius: 10px;
}

#doge-qr {
    height: 64px;

}

.seperation {
    background-color: #2b2a2a;
    border-radius: 10px;
}

footer {
    line-height: 75%;
    padding-top: 100px;
    padding-bottom: 50px;
}

.dropbtn {
    background-color: transparent;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #777;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
    color: white;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    display: block;
}

.dropdown a:hover,
#active {
    background-color: #333;
    text-decoration: none;
}

.show {
    display: block;
}

#prgqt {
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

#hashtags {
    text-align: center;
}

#legal,
#error {
    text-align: center;
    font-size: 15px;
}

#privacy {
    /*text-align: center;*/
    font-size: 15px;
}

#last-updated {
    text-align: right;
}

#menu a:link {
    color: white;
}

#menu a:visited {
    color: white;
}

.dropdown a:link {
    color: white;
}

.dropdown a:visited {
    color: white;
}

#legal_links {
    text-align: right;
}

#privacy_links {
    text-align: right;
}

a:link {
    color: rgb(255, 60, 60);
    background-color: transparent;
    text-decoration: none;
}

#content a:visited {
    color: green;
    background-color: transparent;
    text-decoration: none;
}

footer a:visited {
    color: rgb(255, 60, 60);
    background-color: transparent;
    text-decoration: none;
}

footer a:hover {
    color: rgb(60, 60, 255);
    background-color: transparent;
    text-decoration: underline;
}

a:hover {
    color: rgb(60, 60, 255);
    background-color: transparent;
    text-decoration: underline;
}

html::-webkit-scrollbar-thumb {
    border-radius: 25px;
}

html::-webkit-scrollbar {
    width: 15px;
}

html::-webkit-scrollbar-track {
    background: linear-gradient(0deg, rgba(255, 0, 0, 1) 0%, rgba(7, 0, 211, 1) 100%);
}

html::-webkit-scrollbar-thumb {
    background: transparent;
    box-shadow: 0 0 0 100vh black;
}

::-moz-selection {
    background-color: #FFFF00;
    color: #000000;
}

::selection {
    background-color: #FFFF00;
    color: #000000;
}

.var-highlight {
    color: #C0AD60;
}

.string-highlight {
    color: rgba(253, 149, 90, 0.8);
}